<div class="player-details">
  <div class="row">
    <div>
      <h1>D &amp; D Campaign Generator</h1>
      <p>{{loggedInUser?.email}}</p>
      <p>Get started generating your campaign:</p>

      <div class="row">
        <div class="col-xs-4">
          <a routerLink="createmap">Generate a map</a>
        </div>
        <div class="col-xs-4">
          <a routerLink="monsters-view">Browse Monsters</a>
          <br><br>
          <div class="user-items-list">
            <p>Your monsters:</p>
            <app-monsters></app-monsters>
          </div>
        </div>
        <div class="col-xs-4">
          <a routerLink="items-view">Browse Items</a>
          <br><br>
          <div class="user-items-list">
            <p>Your items:</p>
            <app-items></app-items>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="characters-details">
  <div class="row">
    <app-characters></app-characters>
  </div>
</div>
