<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <h1>D &amp; D Campaign Generator</h1>
      <p>{{loggedInUser?.email}}</p>
      <p>Get started generating your campaign:</p>

      <div class="row">
        <div class="col-xs-4">
          <p>Generate a map</p>
        </div>
        <div class="col-xs-4">
          <p>Make monsters</p>
          <app-monsters></app-monsters>
          <a routerLink="monsters-view">Browse Monsters</a>
        </div>
        <div class="col-xs-4">
          <p>Treasure and stuff</p>
        </div>
    </div>
  </div>
</div>
