<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <h1>D &amp; D Campaign Generator</h1>
      <p>{{loggedInUser?.email}}</p>
      <p>Get started generating your campaign:</p>

      <div class="row">
        <div class="col-xs-4">
          <p>Generate a map</p>
        </div>
        <div class="col-xs-4">
          <a routerLink="monsters-view">Browse Monsters</a>
          <p>Your monsters:</p>
          <app-monsters></app-monsters>
        </div>
        <div class="col-xs-4">
          <a routerLink="items-view">Browse Items</a>
          <p>Your items:</p>
          <app-items></app-items>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <app-characters></app-characters>
  </div>
</div>
