<h1>Map</h1>
<canvas id="map" width="500" height="500" (mousemove)="showInfo($event); drawTile($event)" (mousedown)="isDrawing(true, $event)" (mouseup)="isDrawing(false, $event)" (mouseout)="isDrawing(false, $event)"></canvas>
<h3>Terrain: {{info}}</h3>
<button (click)="clearGrid()">Clear </button>

<div *ngFor="let terrain of terrainArray | async">
  <input type="radio" value="{{terrain.name}}" name="terrain" (click)="colorChange(terrain)">
  <label for="">{{terrain.name}}: <span [ngStyle]="{'background-color': terrain.hexcode, 'color': terrain.hexcode}">__</span></label>
</div>


<input #newColor (load)="colorChange(newColor.value)" (change)="colorChange(newColor.value)" type="color" value="#a07828">
