

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DND Campaign Gen</a>
      </div>
      <div *ngIf="isLoggedIn">
        <button id="logOutIn" (click)="logout()">Logout</button>
        <p class="navbar-text navbar-right">Logged In: {{user_displayName}}<p>
      </div>
      <div *ngIf="!isLoggedIn">
        <button id="logOutIn" (click)="login()">Login</button>
      </div>
    </div>
  </nav>
  <div class="container">
  <br><br>
  <router-outlet></router-outlet>
</div>
