<div class="char-section">
  <h3>Characters</h3>
  <p>Campaign stats for playing characters:</p>
  <div class="row">
    <div class="col-xs-3">
      <h3>{{loggedInUser?.charOne.name}}</h3>
      <p><span class="char-property">Type</span>: {{loggedInUser?.charOne.type}}</p>
      <p><span class="char-property">Armor &amp; Weapons</span>: {{loggedInUser?.charOne.armorWeapons}}</p>
      <p><span class="char-property">Health</span>: {{loggedInUser?.charOne.health}}</p>
      <p><span class="char-property">Description</span>: {{loggedInUser?.charOne.description}}</p>
      <p><span class="char-property">Copper</span>: {{loggedInUser?.charOne.copper}}</p>
      <p><span class="char-property">Silver</span>: {{loggedInUser?.charOne.silver}}</p>
      <p><span class="char-property">Gold</span>: {{loggedInUser?.charOne.gold}}</p>
      <p><span class="char-property">Platinum</span>: {{loggedInUser?.charOne.platinum}}</p>
      <br><br>
      <button (click)="editCharOne()" class="btn btn-success">Edit</button>
      <div *ngIf="editOneFormShown == true">
        <div class="row">
          <label for="name">Character Name*:</label>
          <input type="text" [(ngModel)]="loggedInUser.charOne.name">
        </div>
        <div class="row">
          <label for="type">Type*:</label>
          <select [(ngModel)]="loggedInUser.charOne.type">
            <option value="Wizard">Wizard</option>
            <option value="Rogue">Rogue</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
          </select>
        </div>
        <div class="row">
          <label for="armor_weapons">Armor &amp; Weapons:</label>
          <input type="text" [(ngModel)]="loggedInUser.charOne.armorWeapons">
        </div>
        <div class="row">
          <label for="health">Health*:</label>
          <input type="number" [(ngModel)]="loggedInUser.charOne.health">
        </div>
        <div class="row">
          <label for="description">Description:</label>
          <input [(ngModel)]="loggedInUser.charOne.description" type="text">
        </div>
        <div class="row">
          <label for="copper">Copper:</label>
          <input type="number" [(ngModel)]="loggedInUser.charOne.copper">
        </div>
        <div class="row">
          <label for="silver">Silver:</label>
          <input type="number" [(ngModel)]="loggedInUser.charOne.silver">
        </div>
        <div class="row">
          <label for="gold">Gold:</label>
          <input type="number" [(ngModel)]="loggedInUser.charOne.gold">
        </div>
        <div class="row">
          <label for="platinum">Platinum:</label>
          <input type="number" [(ngModel)]="loggedInUser.charOne.platinum">
        </div>
        <button (click)="charOneClicked(loggedInUser.charOne)" class="btn btn-warning">Edit!</button>
        <button (click)="charOneCancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="col-xs-3">
      <h3>{{loggedInUser?.charTwo.name}}</h3>
      <p><span class="char-property">Type</span>: {{loggedInUser?.charTwo.type}}</p>
      <p><span class="char-property">Armor &amp; Weapons</span>: {{loggedInUser?.charTwo.armorWeapons}}</p>
      <p><span class="char-property">Health</span>: {{loggedInUser?.charTwo.health}}</p>
      <p><span class="char-property">Description</span>: {{loggedInUser?.charTwo.description}}</p>
      <p><span class="char-property">Copper</span>: {{loggedInUser?.charTwo.copper}}</p>
      <p><span class="char-property">Silver</span>: {{loggedInUser?.charTwo.silver}}</p>
      <p><span class="char-property">Gold</span>: {{loggedInUser?.charTwo.gold}}</p>
      <p><span class="char-property">Platinum</span>: {{loggedInUser?.charTwo.platinum}}</p>
      <br><br>
      <button (click)="editCharTwo()" class="btn btn-success">Edit</button>
      <div *ngIf="editTwoFormShown">
        <div class="row">
          <label for="name">Character Name*:</label>
          <input [(ngModel)]="loggedInUser.charTwo.name" type="text">
        </div>
        <div class="row">
          <label for="type">Type*:</label>
          <select [(ngModel)]="loggedInUser.charTwo.type">
            <option value="Wizard">Wizard</option>
            <option value="Rogue">Rogue</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
          </select>
        </div>
        <div class="row">
          <label for="armor_weapons">Armor &amp; Weapons:</label>
          <input type="text" [(ngModel)]="loggedInUser.charTwo.armorWeapons">
        </div>
        <div class="row">
          <label for="health">Health*:</label>
          <input type="number" [(ngModel)]="loggedInUser.charTwo.health">
        </div>
        <div class="row">
          <label for="description">Description:</label>
          <input [(ngModel)]="loggedInUser.charTwo.description" type="text">
        </div>
        <div class="row">
          <label for="copper">Copper:</label>
          <input type="number" [(ngModel)]="loggedInUser.charTwo.copper">
        </div>
        <div class="row">
          <label for="silver">Silver:</label>
          <input type="number" [(ngModel)]="loggedInUser.charTwo.silver">
        </div>
        <div class="row">
          <label for="gold">Gold:</label>
          <input type="number" [(ngModel)]="loggedInUser.charTwo.gold">
        </div>
        <div class="row">
          <label for="platinum">Platinum:</label>
          <input type="number" [(ngModel)]="loggedInUser.charTwo.platinum">
        </div>
        <button (click)="charTwoClicked(loggedInUser.charTwo)" class="btn btn-warning">Edit!</button>
        <button (click)="charTwoCancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="col-xs-3">
      <h3>{{loggedInUser?.charThree.name}}</h3>
      <p><span class="char-property">Type</span>: {{loggedInUser?.charThree.type}}</p>
      <p><span class="char-property">Armor &amp; Weapons</span>: {{loggedInUser?.charThree.armorWeapons}}</p>
      <p><span class="char-property">Health</span>: {{loggedInUser?.charThree.health}}</p>
      <p><span class="char-property">Description</span>: {{loggedInUser?.charThree.description}}</p>
      <p><span class="char-property">Copper</span>: {{loggedInUser?.charThree.copper}}</p>
      <p><span class="char-property">Silver</span>: {{loggedInUser?.charThree.silver}}</p>
      <p><span class="char-property">Gold</span>: {{loggedInUser?.charThree.gold}}</p>
      <p><span class="char-property">Platinum</span>: {{loggedInUser?.charThree.platinum}}</p>
      <br><br>
      <button (click)="editCharThree()" class="btn btn-success">Edit</button>
      <div *ngIf="editThreeFormShown">
        <div class="row">
          <label for="name">Character Name*:</label>
          <input [(ngModel)]="loggedInUser.charThree.name" type="text">
        </div>
        <div class="row">
          <label for="type">Type*:</label>
          <select [(ngModel)]="loggedInUser.charThree.type">
            <option value="Wizard">Wizard</option>
            <option value="Rogue">Rogue</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
          </select>
        </div>
        <div class="row">
          <label for="armor_weapons">Armor &amp; Weapons:</label>
          <input type="text" [(ngModel)]="loggedInUser.charThree.armorWeapons">
        </div>
        <div class="row">
          <label for="health">Health*:</label>
          <input type="number" [(ngModel)]="loggedInUser.charThree.health">
        </div>
        <div class="row">
          <label for="description">Description:</label>
          <input [(ngModel)]="loggedInUser.charThree.description" type="text">
        </div>
        <div class="row">
          <label for="copper">Copper:</label>
          <input type="number" [(ngModel)]="loggedInUser.charThree.copper">
        </div>
        <div class="row">
          <label for="silver">Silver:</label>
          <input type="number" [(ngModel)]="loggedInUser.charThree.silver">
        </div>
        <div class="row">
          <label for="gold">Gold:</label>
          <input type="number" [(ngModel)]="loggedInUser.charThree.gold">
        </div>
        <div class="row">
          <label for="platinum">Platinum:</label>
          <input type="number" [(ngModel)]="loggedInUser.charThree.platinum">
        </div>
        <button (click)="charThreeClicked(loggedInUser.charThree)" class="btn btn-warning">Edit!</button>
        <button (click)="charThreeCancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="col-xs-3">
      <h3>{{loggedInUser?.charFour.name}}</h3>
      <p><span class="char-property">Type</span>: {{loggedInUser?.charFour.type}}</p>
      <p><span class="char-property">Armor &amp; Weapons</span>: {{loggedInUser?.charFour.armorWeapons}}</p>
      <p><span class="char-property">Health</span>: {{loggedInUser?.charFour.health}}</p>
      <p><span class="char-property">Description</span>: {{loggedInUser?.charFour.description}}</p>
      <p><span class="char-property">Copper</span>: {{loggedInUser?.charFour.copper}}</p>
      <p><span class="char-property">Silver</span>: {{loggedInUser?.charFour.silver}}</p>
      <p><span class="char-property">Gold</span>: {{loggedInUser?.charFour.gold}}</p>
      <p><span class="char-property">Platinum</span>: {{loggedInUser?.charFour.platinum}}</p>
      <br><br>
      <button (click)="editCharFour()" class="btn btn-success">Edit</button>
      <div *ngIf="editFourFormShown">
        <div class="row">
          <label for="name">Character Name*:</label>
          <input [(ngModel)]="loggedInUser.charFour.name" type="text">
        </div>
        <div class="row">
          <label for="type">Type*:</label>
          <select [(ngModel)]="loggedInUser.charFour.type">
            <option value="Wizard">Wizard</option>
            <option value="Rogue">Rogue</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
          </select>
        </div>
        <div class="row">
          <label for="armor_weapons">Armor &amp; Weapons:</label>
          <input type="text" [(ngModel)]="loggedInUser.charFour.armorWeapons">
        </div>
        <div class="row">
          <label for="health">Health*:</label>
          <input type="number" [(ngModel)]="loggedInUser.charFour.health">
        </div>
        <div class="row">
          <label for="description">Description:</label>
          <input [(ngModel)]="loggedInUser.charFour.description" type="text">
        </div>
        <div class="row">
          <label for="copper">Copper:</label>
          <input type="number" [(ngModel)]="loggedInUser.charFour.copper">
        </div>
        <div class="row">
          <label for="silver">Silver:</label>
          <input type="number" [(ngModel)]="loggedInUser.charFour.silver">
        </div>
        <div class="row">
          <label for="gold">Gold:</label>
          <input type="number" [(ngModel)]="loggedInUser.charFour.gold">
        </div>
        <div class="row">
          <label for="platinum">Platinum:</label>
          <input type="number" [(ngModel)]="loggedInUser.charFour.platinum">
        </div>
        <button (click)="charFourClicked(loggedInUser.charFour)" class="btn btn-warning">Edit!</button>
        <button (click)="charFourCancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>
