/* You can add global styles to this file, and also import other style files */

* {
  border-radius: 1.4 !important;
}

body {
  background: url('assets/topography.png');
}

canvas {

}

nav {
  /*opacity: 0.7;*/
  /*background: #8E927C;*/
  background: #CDC491 !important;
  border-radius: 10px;
  vertical-align: middle;
  padding-top: 10px;
  height: -40px;
  /*margin-top: 440px;*/
  /*padding: 10px;*/
  border: #CDC491 !important;
}

.btn {
  background: none;
}

.btn-xs {
  background: none;
  border: none;
}

.terrain {
  border: 3px double grey;
  border-radius: 5px;
  width:170px;
  display:inline-block;
}

.add-monstersct {
  padding-top: 5%;
}

.chest-icons {
  max-width: 30px;
  float: right;
}
.dragon-icons {
  max-height: 30px;
  float: right;
}

.item-inventory {
  max-width: 30px;
}

.monster-inventory {
  max-height: 30px;
}

.navbar {
  position: absolute;
  width: 90%;
  left: 5%;
}

.navbar-default {
  background-color: #CDC491 !important;
  border-color: #CDC491 !important;
}

.navbar-text {
  position: absolute;
  top: 3%;
  left: 65%;
}

#logo {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: -5%;
  margin-bottom: -100px;
  /*position: absolute;
  margin: relative;*/
}

#logOutIn {
  background: none;
  border: none;
  position: absolute;
  left: 92%;
  top: 28%;
}

#logOutIn:hover {
  color: red;
}

#paper-bkg {
  position: absolute;
  margin: relative;
  top: -100vh;
}

.monster-box {
}

.monster-heading {
  cursor: pointer;
  background-color: #B98965;
  border: solid 1px gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 20%;
  margin: 10px;
  opacity: 0.6;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  opacity: 0.6;
}

.item-heading {
  cursor: pointer;
  background-color: #9E7D65;
  border: solid 1px gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 20%;
  margin: 10px;
  opacity: 0.6;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 60%;
  opacity: 0.6;
}

/*.item-name {
  color: #6F4A3C;
}*/

.monster-heading:hover {
  color: #2D5849;
  opacity: 1.0;
}

.item-heading:hover {
  color: white;
  opacity: 1.0;
}

.monster-body {
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  /*background: rgba(171, 185, 52, 0.5);*/
}
.item-body {
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  color: white;
  /*background: rgba(183, 133, 115, 0.5);*/
}

.navbar-default {
  background-color: #CDC491 !important;
  border-color: #CDC491 !important;
}

.navbar-text {
  position: absolute;
  top: 3%;
  left: 65%;
}

.logOutIn {
  background: none;
  position: relative;
  border: none;
  top: -32px;
  color: grey;
  text-transform: uppercase;
  left: 90%;
}

.logOutIn:hover {
  color: white;
}


.creator-name {
  float: right;
}

/*.content {
  width: 100%;
  height: 100%;
  top: 0;
}*/


.player-details {
  /*background: rgba(80, 96, 128, 0.5);*/
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  padding-left: 50px;
}
.characters-details {
  /*background: rgba(80, 96, 128, 0.5);*/
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  padding-left: 50px;
}

.user-items-list {
  /*background: rgba(168, 172, 179, 0.5);*/
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
}

.user-items-list li {
  list-style: none;
}


#logo {
  max-width: 80%;
  margin-left: 10.5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

#login-details {
  margin-top: -20px;
  float: right;
}

#displayName {
  position: relative;
  top: -55px;
  right: 80px;
}

/*#diceRoll {
  position: relative;
  margin-left: 20%;
  margin-top: -16px;
}*/

#rollHolder {
  position: relative;
  left: 62%;
  top: -58px;
}

#menu {
  text-transform: uppercase;
  color: grey;
  position: relative;;
  top: 16px;
  padding-right: 10px;
}

#rollResult {
  font-weight: bold;
}

#rollBtn {
  position: relative;
  top: -2px;
  border: none;
}

#diceImg {
  max-width: 19px;
}

#saveButton {
  /*margin-top: -px;*/
  /*margin-left: 30%;*/
  font-size: 13px;
  background: #AEB1BA;
  border: solid #8F9199 1px;
}

#saveButton:hover {
  background: #C4C6CC;
  border: solid #B5B8C0 1px;
}

.navbar-header .dropdown {
  top: 13px;
  font-size: 20px;
}

#rollResult {
  width: 20px;
  background-color: white;
  text-align: center;
}

#rollholder {
  min-width: 200px;
}

.navbar ul {
  width: 200px;
}

#nav-center {
  margin-left: 20%;
}

.navbar-brand {
  font-size: 25px;
}
