/* You can add global styles to this file, and also import other style files */
canvas {

}
.terrain {
  border: 3px double grey;
  border-radius: 5px;
  width:170px;
  display:inline-block;
}

.chest-icons {
  max-width: 20px;
  float: right;
}
.dragon-icons {
  max-height: 30px;
  float: right;
}

.item-inventory {
  max-width: 20px;
}

.monster-inventory {
  max-height: 30px;
}

#diceRoll {
  margin-left: 20%;
  margin-top: 1.5%;
}
/*margin-left: */

#rollResult {
  /*font-size: 120%;*/
  font-weight: bold;
}
