<app-add-item></app-add-item>
<br><br>
<input type="text" #search placeholder="Search" [(ngModel)]="searchbox" (input)="searchFilterItem(search.value)">
<select (change)="onTypeChange($event.target.value)">
  <option value="all">All</option>
  <option value="Weapon">Weapons</option>
  <option value="Armor">Armor</option>
  <option value="Adventuring Gear">Adventuring Gear</option>
  <option value="Tools">Tools</option>
  <option value="Mounts and Vehicles">Mounts and Vehicles</option>
</select>

<select *ngIf="type == 'Tools'" (change)="onToolsChange($event.target.value)">
  <option value="All">All</option>
  <option value="Artisan's Tools">Artisan's Tools</option>
  <option value="Musical Instrument">Musical Instrument</option>
  <option value="Gaming sets">Gaming sets</option>
  <option value="">Miscellaneous</option>
</select>

<select *ngIf="type == 'Weapon'" (change)="onWeaponChange($event.target.value)">
  <option value="All">All</option>
  <option value="Martial Melee">Martial Melee</option>
  <option value="Simple Melee">Simple Melee</option>
  <option value="Martial Ranged">Martial Ranged</option>
  <option value="Simple Ranged">Simple Ranged</option>
</select>

<select *ngIf="type == 'Mounts and Vehicles'" (change)="onMountsChange($event.target.value)">
  <option value="All">All</option>
  <option value="Tack, Harness, and Drawn Vehicles">Tack, Harness, and Drawn Vehicles</option>
  <option value="Waterborne Vehicles">Waterborne Vehicles</option>
</select>

<input type="checkbox" name="private" (click)="filterCreator()"> Created By Me&nbsp;&nbsp;
<input type="checkbox" name="added" (click)="filterAddItem()"> <img src="../../assets/chest.png" class="item-inventory">
<br><br>
<div *ngFor="let item of items | async | itemType:type | toolsFilter:toolsType | weaponFilter:weaponType | mountsFilter:mountsType | itemCreator:creatorFilter:loggedInUser?.displayName | itemsAdded:addItems:loggedInUser?.treasure  | monsterSearch:searchValue" [style.background-image]="'url(' + '../assets/' + putDashes(item.type) + '.png' + ')'" class="item-heading" (click)="showItemDetails(item)">
  <div>
    <img src="../../assets/chest.png" *ngIf="findUserItems(item)" class="chest-icons">
    <h4 class="monster-name-display">
    <img src='../../assets/armor-icon.png' *ngIf="item.type == 'Armor'" class="item-icons">
    <img src='../../assets/weapon-icon.png' *ngIf="item.type == 'Weapon'" class="item-icons">
    <img src='../../assets/gear-icon.png' *ngIf="item.type == 'Adventuring Gear'" class="item-icons">
    <img src='../../assets/tools-icon.png' *ngIf="item.type == 'Tools'" class="item-icons">
    <img src='../../assets/mount-icon.png' *ngIf="item.type == 'Mounts and Vehicles'" class="item-icons">
    {{item.name}}</h4>
    <div class="item-body" *ngIf="detailsShown == item">
      <p class="creator-name"><span class="property-titles">Created by</span>: {{item.creator}}</p>
      <p *ngIf="findUserItems(item)">Current Campaign Count {{findUserItems(item)}}</p>
      <button (click)="addItem(item)" class="btn btn-xs btn-info">Add to Campaign</button>
      <br><br>
      <ul>
        <li *ngIf="item.category_range"><span class="property-titles">Category Range</span>: {{item.category_range}}</li>
        <li *ngIf="item.weapon_category"><span class="property-titles">Weapon Category</span>: {{item.weapon_category}}</li>
        <li *ngIf="item.armor_category"><span class="property-titles">Armor Category</span>: {{item.armor_category}}</li>
        <li *ngIf="item.armor_class"><span class="property-titles">Armor Class</span>: {{item.armor_class.base}} (Dex Bonus: {{item.armor_class.dex_bonus}})</li>
        <li *ngIf="item.weapon_range"><span class="property-titles">Weapon Range</span>: {{item.weapon_range}}</li>
        <li *ngIf="item.throw_range"><span class="property-titles">Throw Range</span>: Normal {{item.throw_range.normal}} / Long: {{item.throw_range.long}}</li>
        <li *ngIf="item.range"><span class="property-titles">Range</span>: Normal - {{item.range.normal}}</li>
        <li *ngIf="item.cost"><span class="property-titles">Cost</span>: {{item.cost.quantity}}{{item.cost.unit}}</li>
        <li *ngIf="item.type"><span class="property-titles">Type</span>: {{item.type}}</li>
        <li *ngIf="item.subtype"><span class="property-titles">Subtype</span>: {{item.subtype}}</li>
        <li *ngIf="item.desc"><span class="property-titles">Description</span>: <span *ngFor="let desc of item.desc">{{desc}}</span></li>
        <li *ngIf="item.speed"><span class="property-titles">Speed</span>: {{item.speed.quantity}} {{item.speed.unit}}</li>
        <li *ngIf="item.capacity"><span class="property-titles">Description</span>: {{item.capacity}}</li>
        <li *ngIf="item.contents"><span class="property-titles">Contents</span>:
          <ul><li *ngFor="let content of item.contents"><a (click)="goTo(content.item_url)">{{content.item_url}} (Quantity: {{content.quantity}})</a></li></ul></li>
        <li *ngIf="item.weight"><span class="property-titles">Weight</span>: {{item.weight}}</li>
        <li *ngIf="item.damage"><span class="property-titles">Damage</span>: ({{item.damage.dice_count}}d{{item.damage.dice_value}}) {{item.damage.damage_type}}</li>
        <li *ngIf="item.twoH_damage"><span class="property-titles">2H Damage</span>:
           ({{item.twoH_damage.dice_count}}d{{item.twoH_damage.dice_value}}) {{item.twoH_damage.damage_type}}
        </li>
        <li *ngIf="item.properties"><span class="property-titles">Properties</span>:
          <ul>
            <li *ngFor="let property of item.properties">{{property}}</li>
          </ul>
        </li>
        <li *ngIf="item.stealth_disadvantage"><span class="property-titles">Stealth Disadvantage</span>: {{item.stealth_disadvantage}}</li>
        <li *ngIf="item.special"><span class="property-titles">Special</span>: {{item.special[0]}}</li>
        <li *ngIf="item.str_minimum"><span class="property-titles">Strength Minimum</span>: {{item.str_minimum}}</li>
      </ul>
    </div>
  </div>
</div>
